html{
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

body{

    /* margin of page disappear */
    margin: 0;
}
.project{
    /* margin-top: 1000px; */
    /* padding-top: 50%; */
    padding-top: 200px;
    background-color: rgb(255, 190, 190);
    margin: 10px;
    padding-left: 12%;
    padding-right: 12%;
    text-align: left;
    font-family: "NS-Light";
    font-size: 17px;
    padding-bottom: 200px;

}