html{
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

body{

    /* margin of page disappear */
    margin: 0;
}

h{
    line-height: 2;
}

h.bold{
    font-family: "NS-Regular";
}


#fancy{
    color: rgb(255, 142, 142);
    text-decoration: underline;
}

.divspace{
    padding: 30px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}




/* navigation horizontal bar --------------------------------------------------------------------------------------------------- */

.navbar{
    overflow: hidden;
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: url("./photos/stars.jpg");
    opacity: 70%;
    font-family: "NS-Light";
    position: fixed;
    width: 100%;
 
}

.nav-right{
    float: right;
}

.nav-right a{
    
    color: #f2f2f2;
    text-decoration: none;
    padding-right: 13px;
    padding-left: 13px;
    padding-top: 100%;
    padding-bottom: 100%;
    font-size: 17px;
}

.nav-right a:hover{
    background-image: url("./photos/moonnew.jpg");
    color: rgb(255, 31, 31);
}


/* ----------------------------------------------------------------------------------------------------- */




.intro{    
    color: rgb(255, 255, 255);
    padding-top: 200px;
    padding-bottom: 500px;
    background-image: url("./photos/praguecut.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}




#hello{
    font-size: 120px; 
}

#hello2{
    font-size: 20px;
    font-family: "NS-Regular";
}

#intro-text{
    padding-left: 12%;
    padding-right: 12%;
    font-family: "NS-Regular";
}

/* --------------------------------------------------------------------------- */

.about{
    /* margin-top: 1000px; */
    /* padding-top: 50%; */

    background-color: rgb(255, 190, 190);
    margin: 10px;
    padding-left: 12%;
    padding-right: 12%;
    text-align: left;
    font-family: "NS-Light";
    font-size: 17px;
    padding-bottom: 200px;

}

/* ---------------------------------------------------------------------------------- */

.experience{
    background-color: rgb(252, 212, 212);
    margin: 10px;
    padding-left: 12%;
    padding-right: 12%;
    text-align: left;
    font-family: "NS-Light";
    font-size: 17px;
    padding-bottom: 200px;
}

#header{
    padding-top: 90px;
    padding-bottom: 65px;
    font-size: 40px;
    font-family: "NS-Regular";

}

#res-experience{
    padding-left: 15%;
    padding-right: 15%;
    font-size: 15px;
}

.experience a{
    text-decoration: none;
    font-family: "NS-Bold";
    color: rgb(255, 100, 100);
}

#logos{
    text-align: center;
}

a.resumeLink{
    font-size: 20px;
    font-family: "NS-Regular";
    padding: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(59, 59, 59);
    text-decoration: none;
    color: rgb(59, 59, 59);
    /* background-image: url("./icons/mars.jpg"); */
}

a.resumeLink:hover{
    /* font-family: "NS-Regular"; */
    color: rgb(255, 100, 100);
    border-color: rgb(255, 142, 142);
    background-image: url("./photos/moonnew.jpg");
    background-position: center;
}

.reslink{
    width: 100%;
    text-align: center;
}

h.place{
    font-family: "NS-Regular";
    /* font-style: italic; */
}

#wright{
    font-style: italic;
}

#wright{
    float: right;
}

/* goals-------------------------------------------------------------------------------------------------------------*/

.goals{
    background-color: rgb(255, 234, 234);
    margin: 10px;
    padding-left: 12%;
    padding-right: 12%;
    text-align: left;
    font-family: "NS-Light";
    font-size: 17px;
    padding-bottom: 200px;
}

/* Meet--------------------------------------------------------------------------------------------- */

.contact{

    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding-left: 12%;
    padding-right: 12%;
    text-align: left;
    font-family: "NS-Light";
    padding-bottom: 200px;
    font-size: 20px;
}

.links{
    padding-top: 12%;
    padding-bottom: 12%;
    width: 100%;
    text-align: center;
}

a.linkedin{
    background-image: url("./icons/1x/Asset\ 2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 11%;
    padding-left: 11%;
    /* border-style: solid; */
    /* border-width: 2px;
    background-repeat: no-repeat;
    border-color: rgb(59, 59, 59); */
}

a.linkedin:hover{
    background: none;
    background-image: url("./icons/1x/Asset\ 13.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

a.space{
    padding-left: 100px;
    padding-top: 100px;
}

a.git{
    background-image: url("./icons/1x/Asset\ 8.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 11%;
    padding-left: 11%;
    /* border-style: solid; */
    /* border-width: 2px;
    border-color: rgb(59, 59, 59);
    background-repeat: no-repeat; */
}

a.git:hover{
    background: none;
    background-size: 100%;
    background-image: url("./icons/1x/Asset\ 18.png");
    background-repeat: no-repeat;
    background-position: center;
}

.conspace{
    padding-top: 125px;
}

.bottom{

    background-color: rgb(255, 246, 246);
    margin: 10px;
    padding-left: 12%;
    padding-right: 12%;
    text-align: left;
    font-family: "NS-Thin";
    /* padding-bottom: 200px; */
    font-size: 15px;
}

@media only screen and (max-width: 767px) {
    
    .nav-right a{
        font-size: 14px;
        padding-right: 8px;
        padding-left: 8px;
    }
    h{
        line-height: 1.8;
        font-size: 15px;
    }

    #hello{
        font-size: 50px; 
    }

    #hello2{
        font-size: 18px;
    }

    a.space{
        padding-left: 30px;
    }

    #header{
        padding-top: 60px;
        padding-bottom: 40px;
        font-size: 30px;
        font-family: "NS-Regular";
    
    }

    a.resumeLink{
        font-size: 16px;
        font-family: "NS-Regular";
        padding: 15px;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(59, 59, 59);
        text-decoration: none;
        color: rgb(59, 59, 59);
        /* background-image: url("./icons/mars.jpg"); */
    }
    
    a.resumeLink:hover{
        /* font-family: "NS-Regular"; */
        color: rgb(255, 100, 100);
        border-color: rgb(255, 142, 142);
        background-image: url("./photos/moonnew.jpg");
        background-position: center;
    }

    .divspace{
        padding: 20px;
    }

    .conspace{
        padding: 20px;
    }
}




/* ------------------------------------------------------------------------------------------------------------------- */

@font-face{
    font-family: "NS-Bold";
    src: url(./font/NotoSansJP-Bold.otf);
}
@font-face{
    font-family: "NS-Medium";
    src: url(./font/NotoSansJP-Medium.otf);
}
@font-face{
    font-family: "NS-Regular";
    src: url(./font/NotoSansJP-Regular.otf);
}
@font-face{
    font-family: "NS-Light";
    src: url(./font/NotoSansJP-Light.otf);
}
@font-face{
    font-family: "NS-Black";
    src: url(./font/NotoSansJP-Black.otf);
}
@font-face{
    font-family: "NS-Thin";
    src: url(./font/NotoSansJP-Thin.otf);
}